<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Llamadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    

    <ion-item *ngFor='let item of Contactos; let i=index' [routerLink]="['/tab1',item.id]">
      <ion-avatar slot="start" >
        <img src="{{item.img}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.nombre}}</h2>
        <h3>{{item.titulo}}</h3>
        
      </ion-label>
    </ion-item>

    
  </ion-list>

  

    

</ion-content>
